.Organizations-MainBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Organizations-MainBlock-Info {
  text-align: right;
}

.Organizations-MainBlock-Header {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 0;
  color: #133a4b;
}

.Organizations-MainBlock-Details {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #133a4b;
  width: 100%;
  margin: 50px 0;
}

.Organizations-MainBlock-Photo {
  width: 50%;
  margin-left: 50px;
}
